
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
 
}

@media (max-width: 600px) {
 
}

.topRow {
  display: flex;
}

.aboutSection {
  position: relative;
  margin-left: 84px;
  margin-top: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  margin-right: 24px;
  margin-left: -24px;
  width: 66.66%;
}

.image1, .image2 {
  /* border: solid white 6px; */
}

.image2 {
  position: relative;
  top: -82px;
  margin-left: 60px;
  width: 33.33%;
  max-height: 400px;
  object-fit: contain;
}

.groupText {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.paragraph {
  font-family: "Varela Round";
  font-size: 22px;
  margin-bottom: 12px;
}

.linedParagraph {
  font-family: "Varela Round";
  font-size: 18px;
  border-left: solid white 1px;
  margin-left: -24px;
  padding-left: 24px;
}

.pair {
  display: flex;
  gap: 48px;
}

.pairImage {
  width: 33.33%;
  height: auto;
  border: solid white 3px;
}

.pairText {
  width: 66.66%;
  display: flex;
  flex-direction: column;
}

.firstPairContainer {
  max-width: 80%;
  margin-left: 33%;
}

.secondPairContainer {
  max-width: 55%;
  margin-left: 25%;
  margin-top: -18px;
}
.secondPairContainer .pairText {
  margin-top: 34px;
}

.image1 {
  position: absolute;
  z-index: -1;
  width: 28%;
  top: 32px;
}